@media screen and (min-width: 320px) and (max-width: 720px) {
    /* h2 */
    h2 {
        font-size: 40px;

        justify-content: center;

        display: flex;
        flex-wrap: wrap;

        width: 72%;

        margin-left: 14%;
        margin-right: 14%;
    }

    /* Footer */
    footer {
        flex-direction: column;

        align-items: center;
    }
    #left-part-container {
        margin: 0;
        padding: 0;
    }
    #left-part-container > h3 {
        padding: 20px 0px 20px 0px;
        margin: 0;

        text-align: center;
    }
    #right-part-container {
        align-items: center;
        
        gap: 10px;

        margin: 0;
        padding: 20px 0 20px 0;
    }
    #mail-container {
        justify-content: center;
    }
    #policies-container {
        display: flex;

        justify-content: center;

        flex-wrap: wrap;

        gap: 5px;
    }
    #policies-container > a {
        margin: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 925px) {
 /* Hamburger menu */
    /* Nav */
    nav {
        display: none;

        flex-direction: column;

        width: 72%;
        margin-top: 100px;

        z-index: 1;
    }

    /* ul */
    nav > ul {
        width: 90%;

        flex-direction: column;

        position: fixed;

        top: 0;

        margin-top: 80px;

        gap: 0;
    }

    nav > ul > li {
        width: 72%;

        padding: 10px 20px;

        overflow: hidden;

        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black (adjust alpha as needed) */
    }
    nav > ul > li > a {
        display: flex;

        justify-content: center;

        text-align: center;
    }

    /* Billboard */
    #billboard {
        width: 72%;

        padding-left: 14%;
        padding-right: 14%;

        flex-wrap: wrap;
    }
    #billboard > h1 {
        font-size: 72px;
        text-align: center;
    }
    #billboard > h3 {
        font-size: 24px;
        text-align: center;
    }
    
    /* Section with electrical circuit scheme */
    #ec-container {
        height: 960px;
    }
    .ec-insides-container {
        flex-direction: column;
    }
    #ec-text-container {
        text-align: center;
        width: 80%;

        padding-top: 20px;
    }
    #ec-text-container > ul,ol {
        padding: 0;
    }
    #ec-text-container > ul,ol > li {
        list-style: none;
        text-align: center;
    }
    #ec-scheme-container {
        padding-top: 30px;

        width: 100%;
        height: 100%;
    }
    #ec-scheme-container > img {
        width: 100%;

        object-fit: cover;
    }
}

@media screen and (min-width: 580px) and (max-width: 925px) {
    .menu-button-container {
        display: flex;
    
        width: 32%;
    }
}

@media screen and (min-width: 320px) and (max-width: 580px) {
    /* Hamburger menu */
    .menu-button-container {
        display: flex;
    
        width: 23%;
    }
}

@media screen and (min-width: 320px) and (max-width: 1019px) {
    /* Section with individual parts */
    #individual-parts-container {
        padding-bottom: 80px;
    }
    .part-container {
        height: 100%;

        margin-top: 80px;

        flex-direction: column;
    }
    .part-description-container {
        width: 80%;
        padding-bottom: 0;
    }
    .part-img-container > img {
        height: fit-content;
        width: 100%;

        object-fit: scale-down;
    }
    #even-part > .part-description-container {
        padding-bottom: 30px;
    }

    #odd-part > .part-img-container {
        width: 80%;
        height: fit-content;
        padding-top: 14px;
    }

    #even-part > .part-img-container {
        width: 80%;
        height: fit-content;
        padding-top: 30px;
        padding-bottom: 0;
    }
} 

/* Default settings */
@media screen and (min-width: 1020px) {
    @import url('style.css');
}